<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Home</title>
</head>


<body>
  <h1>Listado de Productos</h1>
 <div class="products-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>

</body>















<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <title>Document</title>
    
</head>
<body style="background-color: aliceblue;">

    <h1 style="color: black;">Productos</h1>
<div class="fixed-grid">
<div class="grid" >
    {{#each products}}
  <div class="cell" style="background-color: rgba(0, 0, 0, 0.77); padding:10px; margin:5px"; >
    Nombre: {{title}} <br>
    Descripcion: {{description}} <br>
    Precio: {{price}}
    
</div>

  {{/each}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></>

</body>
</html>


  -->
